<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <nav>
        <!-- Link to the "About" route -->
<a href="/about">About Page</a>

<!-- Link to the "Contact" route -->
<a href="/contact">Contact Page</a>

<!-- Link to the "Products" route -->
<a href="/products">Products Page</a>

<!-- Link to the "Subscribe" route -->
<a href="/subscribe">Subscribe Page</a>

    </nav>
    
</body>
</html>